<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' >
  </head>
  
  <body>
    <h1>Félicitations pour votre achat  !</h1>

    <p>
      Bonjour,
    </p>

    <p>
      Votre commande n° <%= @order.id %> d'un montant de <%= @order.amount %> est disponible dans votre Dashboard <a href="<%= @order_url%>">en cliquant sur ce lien</a>
    </p>
    <p> 
      Cordialement,
    </p>

    <p> 
      Votre équipe Gestion des achats
    </p>
  </body>
</html> 